#con-body{
    margin-top: 140px;
}
#row-c1{
    margin-top : 40px;
    margin-bottom:40px;
}
/*.b{
    font-size : ;
}*/
#form{
    margin-left : 80px;
}
.redborder{
	border:1px solid red;
}

#row-pr{
    margin-top : 25px;
    margin-bottom:40px;
}

