#con-body{
	margin-top : 140px;
}
#f-col{
	height : 500px;
	
}
#id_addproduct{
	
}
.hi{
	width : 260px;
	height : 252px;
	
}
.pd{
	padding: 30px;

}
#id_addProduct{
	font-size : 25px;
	height : 180px;
}

